/* line 5, ../sass/layout.sass */
.footer {
  background-color: #b3cad6;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* line 12, ../sass/layout.sass */
.navbar-default {
  background-color: white;
  margin-bottom: 3px;
}
